-#= render "shared/account_stats"


.row.border-bottom.white-bg.dashboard-header
  .col-sm-3
    %h2 Welcome Amelia
    %small You have 42 messages and 6 notifications.
    %ul.list-group.clear-list.m-t
      %li.list-group-item.fist-item
        %span.pull-right
          09:00 pm
        %span.label.label-success 1
        Please contact me
      %li.list-group-item
        %span.pull-right
          10:16 am
        %span.label.label-info 2
        Sign a contract
      %li.list-group-item
        %span.pull-right
          08:22 pm
        %span.label.label-primary 3
        Open new shop
      %li.list-group-item
        %span.pull-right
          11:06 pm
        %span.label.label-default 4
        Call back to Sylvia
      %li.list-group-item
        %span.pull-right
          12:00 am
        %span.label.label-primary 5
        Write a letter to Sandra
  .col-sm-6
    .flot-chart.dashboard-chart
      #flot-dashboard-chart.flot-chart-content
    .row.text-left
      .col-xs-4
        .m-l-md
          %span.h4.font-bold.m-t.block $ 406,100
          %small.text-muted.m-b.block Sales marketing report
      .col-xs-4
        %span.h4.font-bold.m-t.block $ 150,401
        %small.text-muted.m-b.block Annual sales revenue
      .col-xs-4
        %span.h4.font-bold.m-t.block $ 16,822
        %small.text-muted.m-b.block Half-year revenue margin
  .col-sm-3
    .statistic-box
      %h4
        Project Beta progress
      %p
        You have two project with not compleated task.
      .row.text-center
        .col-lg-6
          %canvas#polarChart{:height => "80", :width => "80"}
          %h5 Kolter
        .col-lg-6
          %canvas#doughnutChart{:height => "78", :width => "78"}
          %h5 Maxtor
      .m-t
        %small Lorem Ipsum is simply dummy text of the printing and typesetting industry.
.row
  .col-lg-12
    .wrapper.wrapper-content
      .row
        .col-lg-4
          .ibox.float-e-margins
            .ibox-title
              %h5 New data for the report
              %span.label.label-primary IN+
              .ibox-tools
                %a.collapse-link
                  %i.fa.fa-chevron-up
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-wrench
                %ul.dropdown-menu.dropdown-user
                  %li
                    %a{:href => "#"} Config option 1
                  %li
                    %a{:href => "#"} Config option 2
                %a.close-link
                  %i.fa.fa-times
            .ibox-content
              %div
                .pull-right.text-right
                  %span.bar_dashboard 5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1
                  %br/
                  %small.font-bold $ 20 054.43
                %h4
                  NYS report new data!
                  %br/
                  %small.m-r
                    %a{:href => ""} Check the stock price!
          .ibox.float-e-margins
            .ibox-title
              %h5 Read below comments and tweets
              .ibox-tools
                %a.collapse-link
                  %i.fa.fa-chevron-up
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-wrench
                %ul.dropdown-menu.dropdown-user
                  %li
                    %a{:href => "#"} Config option 1
                  %li
                    %a{:href => "#"} Config option 2
                %a.close-link
                  %i.fa.fa-times
            .ibox-content.no-padding
              %ul.list-group
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Alan Marry
                    I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    1 minuts ago
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Stock Man
                    Check this stock chart. This price is crazy!
                  .text-center.m
                    %span#sparkline8
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    2 hours ago
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Kevin Smith
                    Lorem ipsum unknown printer took a galley
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    2 minuts ago
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Jonathan Febrick
                    The standard chunk of Lorem Ipsum
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    1 hour ago
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Alan Marry
                    I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    1 minuts ago
                %li.list-group-item
                  %p
                    %a.text-info{:href => "#"} Kevin Smith
                    Lorem ipsum unknown printer took a galley
                  %small.block.text-muted
                    %i.fa.fa-clock-o
                    2 minuts ago
        .col-lg-4
          .ibox.float-e-margins
            .ibox-title
              %h5 Your daily feed
              .ibox-tools
                %span.label.label-warning-light 10 Messages
            .ibox-content
              %div
                .feed-activity-list
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => image_url( 'profile.jpg')}/
                    .media-body
                      %small.pull-right 5m ago
                      %strong Monica Smith
                      posted a new blog.
                      %br/
                      %small.text-muted Today 5:60 pm - 12.06.2014
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/a2.jpg"}/
                    .media-body
                      %small.pull-right 2h ago
                      %strong Mark Johnson
                      posted message on
                      %strong Monica Smith
                      site.
                      %br/
                      %small.text-muted Today 2:10 pm - 12.06.2014
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/a3.jpg"}/
                    .media-body
                      %small.pull-right 2h ago
                      %strong Janet Rosowski
                      add 1 photo on
                      %strong Monica Smith
                      %br/
                      %small.text-muted 2 days ago at 8:30am
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/a4.jpg"}/
                    .media-body
                      %small.pull-right.text-navy 5h ago
                      %strong Chris Johnatan Overtunk
                      started following
                      %strong Monica Smith
                      %br/
                      %small.text-muted Yesterday 1:21 pm - 11.06.2014
                      .actions
                        %a.btn.btn-xs.btn-white
                          %i.fa.fa-thumbs-up
                          Like
                        %a.btn.btn-xs.btn-white
                          %i.fa.fa-heart
                          Love
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/a5.jpg"}/
                    .media-body
                      %small.pull-right 2h ago
                      %strong Kim Smith
                      posted message on
                      %strong Monica Smith
                      site.
                      %br/
                      %small.text-muted Yesterday 5:20 pm - 12.06.2014
                      .well
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                      .pull-right
                        %a.btn.btn-xs.btn-white
                          %i.fa.fa-thumbs-up
                          Like
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/profile.jpg"}/
                    .media-body
                      %small.pull-right 23h ago
                      %strong Monica Smith
                      love
                      %strong Kim Smith
                      %br/
                      %small.text-muted 2 days ago at 2:30 am - 11.06.2014
                  .feed-element
                    %a.pull-left{:href => ""}
                      %img.img-circle{:alt => "image", :src => "assets/a7.jpg"}/
                    .media-body
                      %small.pull-right 46h ago
                      %strong Mike Loreipsum
                      started following
                      %strong Monica Smith
                      %br/
                      %small.text-muted 3 days ago at 7:58 pm - 10.06.2014
                %button.btn.btn-primary.btn-block.m-t
                  %i.fa.fa-arrow-down
                  Show More
        .col-lg-4
          .ibox.float-e-margins
            .ibox-title
              %h5 Alpha project
              .ibox-tools
                %a.collapse-link
                  %i.fa.fa-chevron-up
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-wrench
                %ul.dropdown-menu.dropdown-user
                  %li
                    %a{:href => "#"} Config option 1
                  %li
                    %a{:href => "#"} Config option 2
                %a.close-link
                  %i.fa.fa-times
            .ibox-content.ibox-heading
              %h3 You have meeting today!
              %small
                %i.fa.fa-map-marker
                Meeting is on 6:00am. Check your schedule to see detail.
            .ibox-content.inspinia-timeline
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-briefcase
                    6:00 am
                    %br/
                    %small.text-navy 2 hour ago
                  .col-xs-7.content.no-top-border
                    %p.m-b-xs
                      %strong Meeting
                    %p
                      Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                      sale.
                    %p
                      %span.updating-chart{"data-diameter" => "40"} 5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-file-text
                    7:00 am
                    %br/
                    %small.text-navy 3 hour ago
                  .col-xs-7.content
                    %p.m-b-xs
                      %strong Send documents to Mike
                    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-coffee
                    8:00 am
                    %br/
                  .col-xs-7.content
                    %p.m-b-xs
                      %strong Coffee Break
                    %p
                      Go to shop and find some products.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-phone
                    11:00 am
                    %br/
                    %small.text-navy 21 hour ago
                  .col-xs-7.content
                    %p.m-b-xs
                      %strong Phone with Jeronimo
                    %p
                      Lorem Ipsum has been the industry's standard dummy text ever since.
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-user-md
                    09:00 pm
                    %br/
                    %small 21 hour ago
                  .col-xs-7.content
                    %p.m-b-xs
                      %strong Go to the doctor dr Smith
                    %p
                      Find some issue and go to doctor.
              .timeline-item
                .row
                  .col-xs-3.date
                    %i.fa.fa-comments
                    12:50 pm
                    %br/
                    %small.text-navy 48 hour ago
                  .col-xs-7.content
                    %p.m-b-xs
                      %strong Chat with Monica and Sandra
                    %p
                      Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    .footer
      .pull-right
        10GB of
        %strong 250GB
        Free.
      %div
        %strong Copyright
        Example Company &#169; 2014-2015


-#
  - content_for :javascript do
    :javascript
      $(function() {

          setTimeout(function() {
              toastr.options = {
                  closeButton: true,
                  progressBar: true,
                  showMethod: 'slideDown',
                  timeOut: 4000
              };
              toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

          }, 1300);

          $(".bar_dashboard").peity("bar", {
              fill: ["#1ab394", "#d7d7d7"],
              width: 100
          })

          $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
              type: 'bar',
              barWidth: 8,
              height: '150px',
              barColor: '#1ab394',
              negBarColor: '#c6c6c6'
          });

          var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

          setInterval(function () {
              var random = Math.round(Math.random() * 10)
              var values = updatingChart.text().split(",")
              values.shift()
              values.push(random)

              updatingChart
                      .text(values.join(","))
                      .change()
          }, 1000);

          var data1 = [
              [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
          ];
          var data2 = [
              [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
          ];
          $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
              data1, data2
          ],
                  {
                      series: {
                          lines: {
                              show: false,
                              fill: true
                          },
                          splines: {
                              show: true,
                              tension: 0.4,
                              lineWidth: 1,
                              fill: 0.4
                          },
                          points: {
                              radius: 0,
                              show: true
                          },
                          shadowSize: 2
                      },
                      grid: {
                          hoverable: true,
                          clickable: true,
                          tickColor: "#d5d5d5",
                          borderWidth: 1,
                          color: '#d5d5d5'
                      },
                      colors: ["#1ab394", "#464f88"],
                      xaxis: {
                      },
                      yaxis: {
                          ticks: 4
                      },
                      tooltip: false
                  }
          );

          var doughnutData = [
              {
                  value: 300,
                  color: "#a3e1d4",
                  highlight: "#1ab394",
                  label: "App"
              },
              {
                  value: 50,
                  color: "#dedede",
                  highlight: "#1ab394",
                  label: "Software"
              },
              {
                  value: 100,
                  color: "#b5b8cf",
                  highlight: "#1ab394",
                  label: "Laptop"
              }
          ];

          var doughnutOptions = {
              segmentShowStroke: true,
              segmentStrokeColor: "#fff",
              segmentStrokeWidth: 2,
              percentageInnerCutout: 45, // This is 0 for Pie charts
              animationSteps: 100,
              animationEasing: "easeOutBounce",
              animateRotate: true,
              animateScale: false,
          };

          var ctx = document.getElementById("doughnutChart").getContext("2d");
          var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

          var polarData = [
              {
                  value: 300,
                  color: "#a3e1d4",
                  highlight: "#1ab394",
                  label: "App"
              },
              {
                  value: 140,
                  color: "#dedede",
                  highlight: "#1ab394",
                  label: "Software"
              },
              {
                  value: 200,
                  color: "#b5b8cf",
                  highlight: "#1ab394",
                  label: "Laptop"
              }
          ];

          var polarOptions = {
              scaleShowLabelBackdrop: true,
              scaleBackdropColor: "rgba(255,255,255,0.75)",
              scaleBeginAtZero: true,
              scaleBackdropPaddingY: 1,
              scaleBackdropPaddingX: 1,
              scaleShowLine: true,
              segmentShowStroke: true,
              segmentStrokeColor: "#fff",
              segmentStrokeWidth: 2,
              animationSteps: 100,
              animationEasing: "easeOutBounce",
              animateRotate: true,
              animateScale: false,
          };
          var ctx = document.getElementById("polarChart").getContext("2d");
          var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

      });
