= link_to "new template" , new_template_path , class: "pull-right btn btn-default"
%h1.page-header Templates
.row.placeholders
  - @templates.each do |template|

    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "100%x200", "data-holder-rendered" => "true", "data-src" => "holder.js/100%x200", :src => ""}
        .caption
          %h3#thumbnail-label
            = template.name
            %a.anchorjs-link{:href => "#thumbnail-label"}
              %span.anchorjs-icon
          %p
            %a.btn.btn-primary{:href => edit_template_path(template), :role => "button"} Edit
            %a.btn.btn-default{:href => template_path(template), :role => "button"} Remove
