
= render "menu"

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 All Templates
          .ibox-tools
            %a.btn.btn-primary.btn-xs{:href => new_manage_template_path }
              Create new Template
        .ibox-content

          - @templates.each do |template|

            .col-sm-6.col-md-4
              .thumbnail
                %img{:alt => "100%x200", "data-holder-rendered" => "true", "data-src" => "holder.js/100%x200", :src => ""}
                .caption
                  %h3#thumbnail-label
                    = template.name
                    %a.anchorjs-link{:href => "#thumbnail-label"}
                      %span.anchorjs-icon
                  %p
                    %a.btn.btn-primary{:href => edit_manage_template_path(template), :role => "button"} Edit
                    %a.btn.btn-default{:href => manage_template_path(template), :role => "button"} Remove

          .clearfix