
<%= link_to "new list" , new_list_path , class: "pull-right btn btn-default" %>

<h1 class="page-header">Lists</h1>


<div class="row placeholders">

  <% @lists.each do |list| %>

    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4><%= list.name %> </h4>
      <span class="text-muted"><%= list.state %></span>
      <%= link_to "edit" , edit_list_path(list) %>
    </div>

  <% end %>

</div>