%h2 subscribers on #{@list.name} list

%table.table
  %caption
    this list is used on #{@list.campaigns.map(&:id).join(", ")}
  %thead
    %tr
      %th #
      %th Email
      %th First Name
      %th Last Name
  %tbody

    - @subscribers.each do |sub|
      %tr
        %th{:scope => "row"}= sub.id
        %td=sub.email
        %td=sub.name
        %td=sub.last_name

.pagination
  = paginate @subscribers