%nav
  %ul.pager
    %li.previous
      %a{:href => previous_wizard_path}
        %span{"aria-hidden" => "true"} ←
        Prev
    %li.next
      %a{:href => next_wizard_path}
        Next
        %span{"aria-hidden" => "true"} →
