
= render "menu"

.wrapper.wrapper-content.animated.fadeInRight
  .col-lg-12
    .ibox.float-e-margins
      .ibox-title
        %h5 Subscriber list
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-wrench
          %ul.dropdown-menu.dropdown-user
            %li
              %a{:href => "#"} Config option 1
            %li
              %a{:href => "#"} Config option 2
          %a.close-link
            %i.fa.fa-times

      .ibox-content
        %table.table
          %thead
            %tr
              %th #
              %th Email
              %th First Name
              %th Last Name
          %tbody
            - @subscribers.each do |sub|
              %tr
                %th{:scope => "row"}= sub.id
                %td=sub.email
                %td=sub.name
                %td=sub.last_name

  .pagination
    = paginate @subscribers