.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => campaigns_path} Campaings
    %li
      %a{:href => lists_path} Lists
    %li
      %a{:href => templates_path} Templates
