<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Campaings</a></li>
    <li><a href="#">Lists</a></li>
    <li><a href="#">Templates</a></li>
  </ul>
</div>