<h1 class="page-header">Campaigns</h1>

<%= link_to "new campaign" , new_campaign_path %>

<div class="row placeholders">

  <% @campaigns.each do |campaign| %>

    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4><%= campaign.name %> </h4>
      <span class="text-muted"><%= campaign.state %></span>
    </div>

  <% end %>

</div>

