<h1 class="page-header">New Campaigns</h1>


<div class="row placeholders">

<%= form_for @campaign do |f| %>

  <% #= f.text_field :name %>
  <%= f.select :list_id, Postino::List.all %>
  <%= f.submit "Create Campaign" %>

<% end %>

</div>
