
.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 New Template
          .ibox-tools
        .ibox-content

          = simple_form_for ["manage", @template] do |f|
            = f.input :name
            = f.input :body, required: false
            = f.submit "crear"


- content_for :javascript do

  :javascript


    $(function() {

        var editor_one = CodeMirror.fromTextArea(document.getElementById("template_body"), {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            theme: "elegant"
        });

    });

