
%header.navbar.navbar-default.navbar-fixed-top{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} CHASKIQ
    %nav.collapse.navbar-collapse{:role => "navigation"}
      %ul.nav.navbar-nav
        %li
          = link_to "Campaigns", manage_campaigns_path
        %li
          = link_to "Lists", manage_lists_path
        %li
          = link_to "Templates", manage_templates_path

      %ul.nav.navbar-right.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.glyphicon.glyphicon-search
          %ul.dropdown-menu
            %li
              %a{href: ""}
                %i.fa.fa-sign-out
                Log out