.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
}

.navbar-default {
    background-color: white;
    opacity: 0.9;
    border-color: #e7e7e7;
}

.attachments-modal-list{
  overflow:auto;
  height:400px;
  padding: 0px;
  li{
    padding: 6px 8px 14px;
    border-bottom: 1px solid #ccc;
    list-style: none;
  }
}

.btn {
    border-radius: 0px;
    font-size: 12px;
}

.btn-primary{
  background-color: #444;
  border-color: #444;
  &:hover, &:active, &:focus, .active{
    background-color: #555;
    border-color: #444;
  }
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  border-top: 1px solid #ededed;
}

table.table-condensed thead th {
  font-size: 1.19rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-brand{
  margin-left: -30px !important;
}
.breadcrumb {
    background-color: transparent !important;
    border-radius: 4px !important;
    font-size: 0.8em !important;
    list-style: outside none none ;
    margin-bottom: 6px !important;
    padding: 0 1px !important;
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.label {
  background-color: $light-gray;
  color: $label-badget-color;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  }

.badge {
  background-color: $light-gray;
  color: $label-badget-color;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
  }

.label-primary, .badge-primary {
  background-color: $navy;
  color: white;
  }

.label-success, .badge-success {
  background-color: $blue;
  color: white;
  }

.label-warning, .badge-warning {
  background-color: $yellow;
  color: white;
  }

.label-warning-light, .badge-warning-light {
  background-color: $yellow;
  color: white;
  }

.label-danger, .badge-danger {
  background-color: $red;
  color: white;
  }

.label-info, .badge-info {
  background-color: $lazur;
  color: white;
  }

.label-inverse, .badge-inverse {
  background-color: #262626;
  color: white;
  }

.label-white, .badge-white {
  background-color: white;
  color: #5e5e5e;
  }

.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0;
  }

.page-heading{
  h2{
  font-size: 28px;
  }
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after, .ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: $ibox-title-bg;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}

.ibox-content {
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5,
.ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}
.ibox-content {
  clear: both;
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.ibox-title .label {
  float: left;
  margin-left: 4px;
}

.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  //color: #c4c4c4;
}

.ibox-tools a.btn-primary {
  color: white;
}

.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

.ibox .open > .dropdown-menu {
  left: auto;
  right: 0;
}

.alert{
  border-radius: 0px !important;
}

.alert-error{
  @extend .alert-danger;

}

.alert-notice{
  @extend .alert-info;
}


/* PROJECTS */
.project-people, .project-actions {
  text-align: right;
  vertical-align: middle;
}

dd.project-people {
  text-align: left;
  margin-top: 5px;
}

.project-people img {
  width: 32px;
  height: 32px;
}

.project-title a {
  font-size: 14px;
  color: $text-color;
  font-weight: 600;
}

.project-list table tr td {
  border-top: none;
  border-bottom: 1px solid $border-color;
  padding: 15px 10px;
  vertical-align: middle;
}

.project-manager .tag-list li a {
  font-size: 10px;
  background-color: white;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid $border-color;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

.project-files li a {
  font-size: 11px;
  color: $text-color;
  margin-left: 10px;
  line-height: 22px;
}


/* ERROR & LOGIN & LOCKSCREEN */

.middle-box {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  z-index: 100;
}

.lockscreen.middle-box {
  width: 200px;
  margin-left: -100px;
  margin-top: -190px;
}

.loginscreen.middle-box {
  width: 300px;
  margin-left: -150px;
  margin-top: -330px;
}

.loginColumns {
  width: 760px;
  margin: 8% auto 0;
}

.logo-name {
  margin-top: 100px;
}

.middle-box h1 {
  font-size: 170px;
}

.wrapper .middle-box {
  margin-top: 140px;
}

.lock-word {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -470px;
}

.lock-word span {
  font-size: 100px;
  font-weight: 600;
  color: #e9e9e9;
  display: inline-block;
}

.lock-word .first-word {
  margin-right: 160px;
}


/* MARGINS & PADDINGS */

.p-xxs {
  padding: 5px;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-md {
  padding: 25px;
}

.p-lg {
  padding: 30px;
}

.p-xl {
  padding: 40px;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}



.progress {background: rgba(255, 255, 255, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 10px;}
//.progress-bar-custom {background: rgba(82, 72, 84, 1); background: -webkit-linear-gradient(top, rgba(150, 36, 212, 1) 0%, rgba(82, 72, 84, 1) 100%); background: linear-gradient(to bottom, rgba(150, 36, 212, 1) 0%, rgba(82, 72, 84, 1) 100%);}
//.progress-striped .progress-bar-custom {background-color: rgba(82, 72, 84, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(72, 30, 117, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(72, 30, 117, 0.15)),color-stop(0.75,rgba(72, 30, 117, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(72, 30, 117, 0.15) 25%,transparent 25%,transparent 50%,rgba(72, 30, 117, 0.15) 50%,rgba(72, 30, 117, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(72, 30, 117, 0.15) 25%,transparent 25%,transparent 50%,rgba(72, 30, 117, 0.15) 50%,rgba(72, 30, 117, 0.15) 75%,transparent 75%,transparent); background-size: 17px 17px;}







