
.row.wrapper.white-bg.page-heading
  .col-sm-4
    %h2 Campaign Wizard
    %ol.breadcrumb
      %li
        %a{:href => "/"} Home
      - if @campaign.present?
        %li.active
          %strong= link_to @campaign.name , manage_campaign_path(@campaign)