- return unless f.object.new_record?
.nested-fields.row

  .col-lg-6
    .col-lg-3= f.input :email
    .col-lg-3= f.input :name
    .col-lg-3= f.input :last_name

    .col-lg-3
      = link_to_remove_association f, class: "btn btn-xs btn-danger", data:{ method: 'delete'} do
        %i.fa.fa-times
          Delete