= render "menu"

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            Create new list
            -#%small Simple login form example
          .ibox-tools


        .ibox-content
          .row
            = render partial: "form"