<!DOCTYPE html>
<html>
<head>
  <title>Postino</title>
  <%= stylesheet_link_tag    "postino/application", media: "all" %>
  <%= javascript_include_tag "postino/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
