.item-action.dropdown
  %a.icon{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
    %i.fa.fa-ellipsis-v
  .dropdown-menu.dropdown-menu-right

    = link_to manage_campaign_wizard_path(campaign, "setup"), class: "dropdown-item" do
      %i.fa.fa-edit
      Setup

    = link_to manage_campaign_attachments_path(campaign), class: "dropdown-item" do
      %i.fa.fa-paperclip
      Attachments

    .dropdown-divider

    = link_to manage_campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" do
      %i.fa.fa-times
      Remove