.btn-group
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
    Configuration
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to manage_campaign_wizard_path(campaign, "setup") do
        %i.fa.fa-edit
        Setup

    %li
      = link_to manage_campaign_attachments_path(campaign) do
        %i.fa.fa-paperclip
        Attachments

    %li
      = link_to manage_campaign_path(campaign), method: :delete, data: { confirm: "Are you sure?" } do
        %i.fa.fa-times
        Remove