
.row.wrapper.white-bg.page-heading
  .col-sm-4
    %h2 New Campaigns
    %ol.breadcrumb
      %li
        %a{:href => ""} Home
      %li.active
        %strong Campaigns list

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 New Campaign

        .ibox-content

          = simple_form_for ["manage", @campaign] do |f|

            = f.input :list_id, as: :select , collection: Chaskiq::List.all, label: "Choose a mail list"
            = f.submit "Create Campaign"
