
.page-header
  %h1 New Campaign


.card
  .card-header
    New Campaign

  .card-body
    = simple_form_for ["manage", @campaign] do |f|

      = f.input :list_id, as: :select , collection: Chaskiq::List.all, label: "Choose a mail list"
      = f.submit "Create Campaign", class: "btn btn-success"
